<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{pagina.titulo}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
  <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
    <tr>
      <td style="padding: 10px 0 30px 0;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
          <tr>
            <td bgcolor="" align="" style="padding: 1px;">
              <div style="position:relative" >
                <img src="http://pormayor.pe/img/logCorreo.png" alt="logo-pormayor" style="display: block;" height="70" />
              </div>
            </td>
          </tr>
          <tr>
            <td >&nbsp;</td>
          </tr>
          <tr style="border-top: #f6b21d 5px solid;">
            <td bgcolor="#3b3b3d" align="center" style="padding: 20px 0px 20px 0px;font-size: 1.5rem; font-family: Arial, sans-serif;color:white">
              Hola, <b style="color:#FEC00F;">{{nombre_usuario|upper}}</b><br><br>
              Tu registro se ha hecho con éxito. <br>         
              Por favor, valida tu dirección de correo electrónico para tu cuenta de <a href="//pormayor.pe" style="text-decoration:none;"><b style="color:#FEC00F;">PorMayor.pe</b></a>:<br>
            </td>
          </tr>
          <tr>
            <td bgcolor="#3b3b3d" style="text-align: center">
              <big style="font: 16px/18px Arial, Helvetica, sans-serif;">
              <a href="https://pormayor.pe/usuario/validar_usuario/{{id}}" target="_blank" style="border: none;background-color: #21478F;border-radius: 2px;display: inline-block;height: 36px;line-height: 36px;padding: 0 1rem;-webkit-tap-highlight-color: transparent;box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);text-decoration: none;font-size: 1.2rem; color: white;cursor: pointer;">VALIDAR MI CUENTA</a>
              </big>
              <br><br><br>
            </td>
          </tr>
          <tr style="border-bottom: #f6b21d 5px solid;">
            <td bgcolor="#3b3b3d" align="center" style="font-size: 1rem; font-family: Arial, sans-serif;color:white">
              <br><a href="https:///pormayor.pe/usuario/validar_usuario/{{id}}" style="text-decoration:none;color:#FEC00F;cursor: pointer;">https:/pormayor.pe/usuario/validar_usuario/{{id}}</a><br>
              Si el enlace no funciona al hacer clic en él, puede copiarlo en su ventana del navegador o teclearlo en ella directamente. <br><br>           
            </td>
          </tr>
        </table>
        <table bgcolor="#3b3b3d" align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
          <tr>
            <td  align="center" colspan="4" style="font-size: 1rem; font-family: Arial, sans-serif;color:white;padding:5px;">SIGUENOS</td>
          </tr>
          <tr>
            <td align="center" style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;padding:5px;">
              <a href="https://www.instagram.com/pormayor.pe/?hl=es-la" style="color: #ffffff;" target="_blank">
              <img src="https://pormayor.pe/img/instaW.png" alt="Twitter" width="25" height="25" style="display: block;" />
              </a>
            </td>
            <td align="center" style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;padding:5px;">
              <a href="https://www.facebook.com/pormayoroficial/" style="color: #ffffff;" target="_blank">
              <img src="https://pormayor.pe/img/faceW.png" alt="Facebook" width="25" height="25" style="display: block;" />
              </a>
            </td>
            <td align="center" style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;padding:5px;">
              <a href="https://www.youtube.com/channel/UCgCUpeiwXV1-8BphKl6ut0Q?view_as=subscriber" style="color: #ffffff;" target="_blank">
              <img src="https://pormayor.pe/img/youtubeW.png" alt="youtubeW" width="25" height="25" style="display: block;" />
              </a>
            </td>
            <td align="center" style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;padding:5px;">
              <a href="mailto:contacto@pormayor.pe" style="color: #ffffff;" target="_blank">
              <img src="https://pormayor.pe/img/mailW.png" alt="Correo" width="25" height="25" style="display: block;" />
              </a>
            </td>
          </tr>
          <tr>
            <td  align="center" colspan="4" style="font-size: 0.6rem; font-family: Arial, sans-serif;color:white;padding:5px;">Este correo ha sido enviado desde los servidores de pormayor.pe por su consentimiento, <br>igualmente puede ver nuestros politicas de privacidad en el siguiente <a href="https://pormayor.pe/legal/privacidad" style="text-decoration:none;color:#FEC00F;">página</a></td>
          </tr>
          <tr>
            <td  align="center" colspan="4" style="font-size: 0.6rem; font-family: Arial, sans-serif;color:white;padding:5px;">© <a href="https://pormayor.pe" style="text-decoration:none;color:#FEC00F;">pormayor.pe</a> todos los derechos reservados.</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>