{% extends "layout/intranet/template_almacen.twig" %}
{% block head %}
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<main>
  <div class="card">
    <div class="card-content row">
        <div class="col s12 m6 l3">
          <label>PRODUCTOS</label>
          <select class="browser-default select2" id="selProducto">
            <option value="0" selected disabled="">SELECCIONE PRODUCTO</option>
            {% for pro in productos %}
              <option value="{{pro.Pro_IdProducto}}" data-codc="{{pro.Ppv_CodigoCaja}}">{{pro.Pro_Nombre}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="input-field col s12 m6 l3">
            <input type="text" name="codCaja" id="codCaja">
            <label for="codCaja">Código de Caja</label>
        </div>
        <div class="input-field col s12 m6 l3">
          <input type="number" name="cantC" id="cantC">
          <label for="cantC">Cantidad Caja</label>

        </div>
        <div class="input-field col s12 m6 l3">
          <input type="number" name="cantUni" id="cantUni">
          <label for="cantUni">Unidades Caja</label>
        </div>
        <div class="col s12 m6 l6">
          <label>MOVIMIENTO EN</label>
            <select class="browser-default select2" id="selMovimiento">
            <option value="0" selected disabled="">SELECCIONE LUGAR INICIO</option>
            <option value="DEPOSITO">DEPOSITO</option>
            <option value="TIENDA">TIENDA</option>
          </select>
        </div>
        <div class="col s12 m6 l6">
          <label>MOVIMIENTO A</label>
            <select class="browser-default select2" id="selMovimiento2">
            <option value="0" selected disabled="">SELECCIONE LUGAR LLEGADA</option>
            <option value="TIENDA">TIENDA</option>
            <option value="DEPOSITO">DEPOSITO</option>
          </select>
        </div>
        <div class="col s12 m12 l12 center"><br>
         <a class="btn-large addMovimiento black-text" style="width:100%;"><i class="material-icons left">add_circle</i>AGREGAR</a>
        </div>
    </div> 
  </div>
  <div class="card">
    <div class="card-content">
      <table id="lmov">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Producto</th>
            <th>Codigo</th>
            <th>Caja</th>
            <th>Unidades</th>
            <th>De</th>
            <th>Hasta</th>
          </tr>
        </thead>
        <tbody id="lmovD">
        {% for m in movimientos %}
          <tr>            
            <td>{{m.Alp_FechaRegistro|date("d-m-Y")}}</td>
            <td>{{m.Pro_Nombre}}</td>
            <td>{{m.Alp_CodigoCaja}}</td>
            <td>{{m.Alp_Caja}}</td>
            <td>{{m.Alp_Unidades}}</td>
            <td>{{m.Alp_EstadoInicial}}</td>
            <td>{{m.Alp_Traslado}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock %}
{% block script %}
  <script type="text/javascript">    
    $('#lmov').DataTable();
  </script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <script src="{{base_url('public/')}}js/movimiento.js"></script>
{% endblock %}
