{% extends "layout/intranet/template_ven.twig" %}
{% block head %}
  <link type="text/css" rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css"  media="screen,projection"/>
{% endblock %}
{% block content %}
  <main class="">
    <div class="card">
      <div class="card-content">
        <h4>Reporte de Ventas - Gestión</h4>
        <input type="month" name="meses" id="meses" value="{{'now'|date('Y-m')}}">
        <a class="btn green buscarV">Buscar</a>
        {# <a class="btn green notificarR">notificar</a> #}
        <div class="card-panel row">
        <a class="btn negrita blue gReporte" style="width:100%;">GUARDAR REPORTE CARTERA</a>
          <div class="col s12 m5 l5" id="tablaCartera">
           <table class="striped centered">
            <thead>
              <tr>
                <th>VIGENTE</th>
                <th>REGISTRADO</th>
                <th>INACTIVO +10</th>
                <th>INACTIVO +20</th>
                <th>INACTIVO +30</th>
                <th>INACTIVO +40</th>
                <th>TOTAL</th>
              </tr>
            </thead>
            <tbody>
            {% set vig = 0 %}
            {% set reg = 0 %}
            {% set r10 = 0 %}
            {% set r20 = 0 %}
            {% set r30 = 0 %}
            {% set r40 = 0 %}
            {% set totR = 0 %}
            {% for c in cartera %}
              {% set startDate = c.ultimo_pedido|date("Y-m-d") %}
                  {% set endDate = "now"|date("Y-m-d") %}
                  {% set difference = date(endDate).diff(date(startDate)) %}
                  {% set leftDays = difference.days %}
                  {% if leftDays%}
                   {% if leftDays <= 10 or leftDays == 0 %}
                    {% set vig = vig + 1 %}
                  {% elseif leftDays >= 11 and leftDays <= 20 %}
                    {% set r10 = r10 + 1 %}
                  {% elseif leftDays >= 21 and leftDays <= 30 %}
                    {% set r20 = r20 + 1 %}
                  {% elseif leftDays >= 31 and leftDays <= 40 %}
                    {% set r30 = r30 + 1 %}
                  {% elseif leftDays >= 41  %}
                    {% set r40 = r40 + 1 %}
                  {% endif %}
                  {% else %}
                    {% if c.entregado > 1 %}
                      {% set vig = vig + 1 %}
                    {% else %}
                      {% set reg = reg + 1 %}
                    {% endif %}
                  {% endif %}
            {% endfor %}
              {% set totR = vig + reg + r10 + r20 + r30 + r40 %} 
              <tr>
                <td class="fontA rVig">{{vig}}</td>
                <td class="fontA rReg">{{reg}}</td>
                <td class="fontA rR10">{{r10}}</td>
                <td class="fontA rR20">{{r20}}</td>
                <td class="fontA rR30">{{r30}}</td>
                <td class="fontA rR40">{{r40}}</td>
                <td class="fontA rTot">{{totR}}</td>
              </tr>
            </tbody>
          </table>
          </div>
          <div class="col s12 m7 l7">
            <table class="striped centered">
            <thead>
              <tr>
                <th>FECHA</th>
                <th>VIGENTE</th>
                <th>REGISTRADO</th>
                <th>INACTIVO +10</th>
                <th>INACTIVO +20</th>
                <th>INACTIVO +30</th>
                <th>INACTIVO +40</th>
                <th>TOTAL</th>
              </tr>
            </thead>
            <tbody>

            {% for l in listado %}
             <tr>
                <td class="fontA">{{l.Fecha_Registro|date("d-m-Y")}}</td>
                <td class="fontA">{{l.Esc_Vigente}}</td>
                <td class="fontA">{{l.Esc_Registrado}}</td>
                <td class="fontA">{{l.Esc_I10}}</td>
                <td class="fontA">{{l.Esc_I20}}</td>
                <td class="fontA">{{l.Esc_I30}}</td>
                <td class="fontA">{{l.Esc_I40}}</td>
                <td class="fontA">{{l.Esc_Total}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          </div>
        </div>
        <div id="contReporte" class="row"></div>
      </div>
    </div>
  </main>
{% endblock %}

{% block script %}
  <script src="{{base_url('public/')}}js/vendedor/lcliente.js?v=12" type="text/javascript"></script>
  <script src="{{base_url('public/')}}js/reporte.js" type="text/javascript"></script>
  <script src="{{base_url('public/')}}js/cartera.js" type="text/javascript"></script>
  <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
{% endblock %}