{% extends "layout/intranet/template_lite.twig" %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/inputnumber.css')}}"  media="screen"/>

{% endblock %} 

{% block content %}

  <main class="container">
      <div class="row">
        <div class="col s12 pormayor z-depth-1 unidadSticky"><br>
          <div class="row">
            <div class="col s12 l4 center">
              <p class="fontA"> <a href="{{base_url()}}" class="black-text">Inicio</a> | Categoría: <b>{{pagina.titulo|title}}</b></p> 
            </div>
            <div class="col s12 l4 center">
              <span class="negrita">CATEGORIAS</span>
             <select class="browser-default"  onchange="location = this.value;">
                <option value="" disabled selected>Categorías</option>
                {% for cat in categorias %}
                <option value="{{base_url()}}categoria/{{cat.url}}">{{cat.Cat_Nombre}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col s12 l4 center">
              <span class="negrita">FILTROS</span>
              <select class="browser-default filtroPreciosSelect" >
                <option value="" disabled selected>Filtros</option>
                <option value="ninguno">Ninguno</option>
                <option value="menor">Precio menor</option>
                <option value="mayor">Precio mayor</option>
                <option value="fechaMenos">Más nuevo</option>
                <option value="fechaMas">Más vendido</option>
              </select>
            </div>
          </div>
        </div>      

        <div class="col s12 ajax_filtro_productos containerProductos">
          {% for pro in producto %}
              <div class="col s6 m6 l3 black-text  mix filtroProductoall filtroCatall filtroCat{{pro.Cat_IdCategoria}} filtroMarcaall filtroEdoall filtroEdo{{pro.Pro_EdoGarantia|title}} filtroMarca{{pro.Pro_Marca|title|replace({' ': '', '"' : "", "'" : ""})}}" data-idpro="{{pro.Pro_IdProducto}}" data-preciomin="{{pro.Pro_PrecioMinimo}}" data-fecha="{{pro.Pro_FechaCreacion}}" style="padding:5px" data-cd="{{pro.Pro_PM}}">
                <div class="card hoverable">
            <a itemprop="url" href="{{base_url()}}productos/dp/{{pro.url}}" data-idproducto="{{pro.Pro_IdProducto}}" data-nombre="{{pro.Pro_Nombre}}">

                  <div class="center" style="height:190px;">
                    <img alt="{{pro.Pro_Nombre}}-Pormayor.pe" title="{{pro.Pro_Nombre}}" class="lazy responsive-img fixImg3 redondeo"  data-src="{{ruta_img}}{{pro.Prf_Thumb}}">
                  </div>
                </a>
                  <div class="card-content center">
                    <div class="divider"></div>
                    <p>
                      <span class="truncate">{{pro.Pro_Nombre|title}}</span>
                      {% if pro.Pro_Saldo == 1 %}
                        <span class="fontA negrita">S/ {{pro.Pro_PrecioMinimo}}</span> x cajón<span class="new badge red">Remate</span>
                      {% elseif pro.Pro_Preventa == 1 %}
                        <span class="fontA negrita">S/ {{pro.Pro_PrecioMinimo}}</span> x cajón<span class="new badge blue left">PRE-VENTA</span>
                      {% else %}
                        <span class="fontA negrita">S/ {{pro.Pro_PrecioMinimo}}</span> x cajón</label>
                      {% endif %}
                    </p>
                    <div class="input-group input-number-group">
                        <div class="input-group-button">
                          <span class="input-number-decrement">-</span>
                        </div>
                          <input type="number" min="1" name="cantidad" value="0" max="{{pro.SKU_StockDisponible}}" class="input-number browser-default cantSku{{pro.Pro_IdProducto}} cant{{pro.SKU_IdSKU}}" id="{{pro.SKU_IdSKU}}" data-idpro="{{pro.Pro_IdProducto}}" data-colresumen=" " data-foto="{{pro.Prf_Thumb}}" data-productname="{{pro.Pro_Nombre}}" data-productid="{{pro.SKU_IdSKU}}" data-price="" xd="{{pro.Pro_PrecioMinimo}}" data-tipovariacion=" " data-color="" data-variacion=" " data-img="{{pro.Prf_Thumb}}" data-unidad="" data-dispo="{{pro.SKU_StockDisponible}}" data-idtienda="" data-minventa="{{pro.SKU_StockDisponible}}" data-preciounit="" data-documento="2" onkeydown="javascript: return event.keyCode == 69 ? false : true" readonly>
                        <div class="input-group-button">
                          <span class="input-number-increment">+</span>
                        </div>
                        <div>
                          <a class="btn input-add-cart add_cart pormayor black-text" data-pmin="{{pro.Pro_PrecioMinimo}}" data-idp="{{pro.Pro_IdProducto}}">AGREGAR</a>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
          {# </a> #}
          {% endfor %}
        </div>
    </div>
  </main>
{% endblock %}

{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/jquery.lazy.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-kit/1.1.3/sticky-kit.min.js"></script>
  <script src="{{base_url('public/')}}js/tienda/index.js?v={{now|date('i:s')}}"></script>
  <script src="{{base_url('public/')}}js/tienda/dproLis.js?v={{now|date('i:s')}}"></script>

{% endblock %}