{% extends "layout/intranet/template_lite.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<main id="main" class="container">
     <div class="row">
     <div class="col s12 center fontE">
        Descubre los mejores productos al mejor precio para que hagas crecer tu negocio
     </div>
       {% for pro in producto %}
            <a itemprop="url" href="{{base_url()}}productos/dp/{{pro.url}}" data-idproducto="{{pro.Pro_IdProducto}}" data-nombre="{{pro.Pro_Nombre}}">
                <div class="col s6 m4 l3 black-text" data-cd="{{pro.Pro_PM}}">
                  <div class="card hoverable z-depth-1">
                    {# <span class="badge red white-text" style="position:absolute;">Nuevo</span> #}
                    <div class="center" style="height:190px;">
                      <img alt="{{pro.Pro_Nombre}}-Pormayor.pe" title="{{pro.Pro_Nombre}}" class="lazy responsive-img fixImg3 redondeo" data-src="{{ruta_img}}{{pro.Prf_Thumb}}">
                    </div>
                    <div class="card-content center" style="height:100px;">
                      <p>
                        <span class="truncate">{{pro.Pro_Nombre|upper}}</span>
                        <small>COD: {{pro.Pro_IdProducto}}</small><br>
                        <div class="divider"></div>
                        {% if pro.Pro_Preventa == 1 %}
                        <span class="fontA negrita">S/ {{pro.Pro_PrecioMinimo}}</span> x cajón<span class="new badge blue left">PRE-VENTA</span>
                        {% else %}
                        <span class="fontA negrita">S/ {{pro.Pro_PrecioMinimo}}</span> x cajón</label>
                        {% endif %}
                        <br>
                      </p>
                    </div>
                  </div>
                </div>
            </a>
            {% endfor %}
          <div class="col s12 center">              
            {{ links }}
          </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.1.0/dist/lazyload.min.js"></script>
<script src="{{base_url('public/')}}js/index.min.js?v=5"></script>
{% endblock %}