{% extends "layout/intranet/template_lite3.twig" %}

{% block head %}
  <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/inputnumber.css')}}"  media="screen"/>
  <style type="text/css">
.fontX{font-size:18px!important}.fontD2,.fontE{font-size:.8rem!important}.swiper-container{width:100%;height:100%}.fontD2{font-weight:1000}.slider{height:170px!important}.slides{height:200px!important}.slider .slides{background-color:#9e9e9e00!important}% endif % #navbar{overflow:hidden;background-color:#fff}.content{padding:16px}.sticky{position:fixed;top:0;width:inherit;z-index:9999}.sticky+.content{padding-top:100px}
  </style>
{% endblock %} 

{% block content %}

  <main class="">
      <div class="row">
      <div class="col s1 m1 l3"></div>
      <div class="col s10 m10 l6">
        <div id="navbar" class="card-panel pormayor" style="border-radius:10px;border:1px solid #00000024;">
          <div class="input-field">
            <label for="searchbar">¿Qué estas buscando?</label>         
            <input type="text" class="form-control" id="searchbar" onkeyup="search_pedido()">
          </div>
        </div>        
      </div>
      <div class="col s1 m1 l3"></div>
    </div>
      <div class="row content">
        <div class="col s12 ajax_filtro_productos containerProductos">
          {% for pro in producto %}
              <div class="col s12 m6 l2 black-text  mix filtroProductoall filtroCatall filtroCat{{pro.Cat_IdCategoria}} filtroMarcaall filtroEdoall filtroEdo{{pro.Pro_EdoGarantia|title}} filtroMarca{{pro.Pro_Marca|title|replace({' ': '', '"' : "", "'" : ""})}}" data-idpro="{{pro.Pro_IdProducto}}" data-preciomin="{{pro.Pro_PrecioMinimo}}" data-fecha="{{pro.Pro_FechaCreacion}}" style="padding:5px" data-cd="{{pro.Pro_PM}}">
                <div class="card hoverable">
                <a class="modal-trigger dprod" href="#modalProd" data-id="{{pro.Pro_IdProducto}}" accessKey="{{pro.Pro_Nombre}}" >
                  <div class="center" style="height:190px;">
                    <img alt="{{pro.Pro_Nombre}}-Pormayor.pe" title="{{pro.Pro_Nombre}}" class="lazy responsive-img fixImg3 redondeo"  data-src="{{ruta_img}}{{pro.Prf_Thumb}}">
                  </div>
                </a>
                  <div class="card-content center">
                    <div class="divider"></div>
                    <p>
                      <span class="truncate">{{pro.Pro_Nombre|title}}</span>
                      <span>COD: {{pro.Pro_IdProducto}}</span><br>
                      {# {% if pro.Pro_Saldo == 1 %}
                        <span class="fontA negrita">S/ {{pro.Pro_PrecioMinimo}}</span> x cajón<span class="new badge red">Remate</span>
                      {% elseif pro.Pro_Preventa == 1 %}
                        <span class="fontA negrita">S/ {{pro.Pro_PrecioMinimo}}</span> x cajón<span class="new badge blue left">PRE-VENTA</span>
                      {% else %} #}
                        <span class="fontA negrita">S/ {{pro.Pro_PrecioMinimo}}</span> x cajón</label>
                      {# {% endif %} #}
                    </p>
                    {% if pro.catvar == 1 %}
                    <div class="input-group input-number-group">
                        <div class="input-group-button">
                          <span class="input-number-decrement">-</span>
                        </div>
                          <input type="number" min="1" name="cantidad" value="0" max="{{pro.SKU_StockDisponible}}" class="input-number browser-default cantSku{{pro.Pro_IdProducto}} cant{{pro.SKU_IdSKU}}" id="{{pro.SKU_IdSKU}}" data-idpro="{{pro.Pro_IdProducto}}" data-colresumen=" " data-foto="{{pro.Prf_Thumb}}" data-productname="{{pro.Pro_Nombre}}" data-productid="{{pro.SKU_IdSKU}}" data-price="" xd="{{pro.Pro_PrecioMinimo}}" data-tipovariacion=" " data-color="" data-variacion=" " data-img="{{pro.Prf_Thumb}}" data-unidad="" data-dispo="{{pro.SKU_StockDisponible}}" data-idtienda="" data-minventa="{{pro.SKU_StockDisponible}}" data-preciounit="" data-documento="2" onkeydown="javascript: return event.keyCode == 69 ? false : true" readonly>
                        <div class="input-group-button">
                          <span class="input-number-increment">+</span>
                        </div>
                        <div>
                          <a class="btn input-add-cart add_cart pormayor black-text" data-pmin="{{pro.Pro_PrecioMinimo}}" data-idp="{{pro.Pro_IdProducto}}">AGREGAR</a>
                        </div>
                      </div>
                    {% else %}
                          <a class="btn pormayor black-text" style="margin: 3px" href="{{base_url()}}productos/dp/pormayor-{{pro.Pro_IdProducto}}">Consulte la variación</a>
                    {% endif %}
                  </div>
                </div>
              </div>
          {# </a> #}
          {% endfor %}
        </div>
    </div>
  </main>
   <div id="modalProd" class="modal" style="z-index:9999 !important;" >
      <div class="modal-content" id="loadEdit">
        <h5 class="center">CARGANDO INFORMACIÓN DEL PRODUCTO...</h5>
      </div>
  </div>
{% endblock %}

{% block script %}
  <script>    
  $(document).ready(function(){
    $('.dprod').click(function(){
      var id = $(this).data('id');
      console.log(id);
      $('#loadEdit').load(base_url+'cliente/vista_producto',{id:id});
    });
  });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.10/jquery.lazy.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-kit/1.1.3/sticky-kit.min.js"></script>
  <script src="{{base_url('public/')}}js/tienda/index.js?v={{now|date('i:s')}}"></script>
  <script src="{{base_url('public/')}}js/tienda/dproLis.js?v={{now|date('i:s')}}"></script>
  <script>
    // When the user scrolls the page, execute myFunction
  window.onscroll = function() {myFunction()};

  // Get the navbar
  var navbar = document.getElementById("navbar");

  // Get the offset position of the navbar
  var sticky = navbar.offsetTop;

  // Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }       
  function search_pedido() {
    let input = document.getElementById('searchbar').value;
    input = input.toLowerCase();
    let x = document.getElementsByClassName('filtroProductoall');
    // console.log(input);      
    for (i = 0; i < x.length; i++) { 
        if (!x[i].innerHTML.toLowerCase().includes(input)) {
            x[i].style.display="none";
        }
        else {
            x[i].style.display="block";                 
        }
    }
  }
  </script>
{% endblock %}

