<!DOCTYPE html>
<html>
  <head>      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{pagina.titulo}}</title>
    <meta name="description" content="Crea tu propia tienda o explora tiendas de mayoristas. Adquiere o vende tu mercancía de manera segura. Facilito y rapidito. Primer portal de ventas por mayor en Perú.">
    <meta name="keywords" content="Ventas por mayor peru,Ropa al por mayor peru,Zapatos por mayor,Comprar al por mayor,Barato">
    <link rel="icon" href="{{ruta_img}}logo.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/materialize.css')}}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/csspormayor.css')}}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/jquery-confirm.min.css')}}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/templates.css')}}"  media="screen,projection"/>
  </head>
	  <body background="{{ruta_img}}bgland.png">
	  	<div class="container center row">
	  		<div class="col s12 m12 l12">
	  			<img src="{{ruta_img}}logo_pormayor.png" class="responsive-img">
	  		</div>
	  		<div class="col s12 m8 offset-m2 l8 offset-l2">
			    <div class="row valign-wrapper">
			    	<div class="col s12 m12 l6">
			    		<div class="card z-depth-4">
				    		<div class="card-content">
				    			<span class="card-title">Crea tu tienda facilito</span>
							    <div class="input-field">
							      <input type="email" id="susEmail">
							      <label for="susEmail">Correo electrónico</label>
								</div>
							</div>
							<div class="card-action">
						      <a class="btn">Crear</a>
							</div>
			    		</div>
					</div>
					<div class="col s12 m12 l6 white-text">                            
                         <p class="flow-text">Vende facilito <b>donde sea</b> </p>
                         <p class="flow-text">Cotiza al precio <b>que necesites</b> </p>
                         <p class="flow-text">Manten tu tienda abierta <b>24 horas</b> </p>
                         <p class="flow-text">Multiplica <b>tus ganancias</b> </p>
                         <p class="flow-text"><b>Comunícate</b> con tus compradores </p>
                         <p class="flow-text"><b>Crece</b> más rápido </p>
                         <p class="flow-text">Sé <b> innovador</b></p>
                         <p class="flow-text"><b>Simplifica</b> tus ventas</p>
                    </div>
                </div>
	  		</div>
	  	</div>
	<script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/jquery-3.1.1.js')}}"></script>  
    <script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/materialize.js')}}"></script>
    <script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/jquery.sticky-kit.min.js')}}"></script>
    <script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/jquery-confirm.min.js')}}"></script> 
	  </body>
  </html>

