{% extends "layout/intranet/template_lite.twig" %}
{% block head %}   
<style type="text/css">
@media (min-width: 1024px) and (max-width: 1280px)  {
	
}
@media (min-width: 1281px) {
	
}
.anchoTotal h1{
	top:10px;
	left:0;
	right:0;
}
	
</style>
{% endblock %}

{% block content %}
<main class="container fixContainer">
	<div class="row">
		<div class="col s12 m12 l12">
			<div class="card">
				<div class="card-content sinPadding">
					<div class="cardContentFix">
						<h4 class="center">Sistema de reputación</h4>
						<div class="divider"></div>
						<br><br><br><br><br><br>
						<div class="row hide centrarForzado">
							<div  style="height:180px" class="col s4 m4 l2 offset-l3 center sinPadding positionRelative">
								<img class="positionRelative califB" src="{{ruta_img}}califB.png"  style="bottom: 30px;" height="80">
								<div id="podium2" style="bottom:0" class="anchoTotal orange positionAbsolute">
									<h1 class="positionAbsolute white-text centrarForzado">2</h1>
								</div>
							</div>
							<div style="height:180px" class="col s4 m4 l2 center sinPadding positionRelative" >
								<img class="positionRelative califA" src="{{ruta_img}}califA.png"  height="100" style="bottom: 120px;">
								<div id="podium3" style="bottom:0" class="anchoTotal green positionAbsolute">
									<h1 class="positionAbsolute white-text centrarForzado">1</h1>
								</div>
							</div>
							<div style="height:180px" class="col s4 m4 l2 center sinPadding positionRelative">
								<img class="positionRelative califC" src="{{ruta_img}}califC.png"  height="80" >
								<div id="podim1" style="bottom:0" class="anchoTotal red positionAbsolute">
									<h1 class="positionAbsolute white-text centrarForzado">3</h1>
								</div>
							</div>
							<div class="col s12 m6 l4">
								<ul class="collection with-header">
							        <li class="collection-header"><h5>¿Qué significa?</h5></li>
							        <li class="collection-item ">
							        	<div class="valign-wrapper">
							        		<img class="positionRelative" src="{{ruta_img}}califA.png"  height="30"><span class="green-text"><b>&nbsp;&nbsp;&nbsp;&nbsp;Respuesta positiva</b></span>
							        	</div>
							        </li>
							        <li class="collection-item">
							        	<div class="valign-wrapper">
							        		<img class="positionRelative" src="{{ruta_img}}califB.png"  height="30"><span class="orange-text"><b>&nbsp;&nbsp;&nbsp;&nbsp;Respuesta Neutra</b></span>
							        	</div>
							        </li>
							        <li class="collection-item">
							        	<div class="valign-wrapper">
							        		<img class="positionRelative" src="{{ruta_img}}califC.png"  height="30"><span class="red-text"><b>&nbsp;&nbsp;&nbsp;&nbsp;Respuesta Negativa</b></span>
							        	</div>
							        </li>
							      </ul>
							</div>
							<div class="col s12 m6 l4">
								<ul class="collection with-header">
							        <li class="collection-header"><h5>Puedes...</h5></li>
							        <li class="collection-item"><div><i class="material-icons left green-text">check_circle</i><b>Calificar tu compra</b> una vez este procesada</div></li>
							        <li class="collection-item"><div><i class="material-icons left green-text">check_circle</i><b>Calificar una tienda</b> una vez proceses una compra</div></li>
							        <li class="collection-item"><div><i class="material-icons left green-text">check_circle</i><b>Calificar productos</b> y comentar sobre ellos</div></li>
							      </ul>
							</div>
							<div class="col s12 m12 l4">
								<ul class="collection with-header">
							        <li class="collection-header"><h5>¿Dónde lo encuentro?</h5></li>
							        <li class="collection-item center"><div>La reputación de las tiendas se encuentra plasmada en la casilla de <b>información</b> de esta manera:<br><br>
							        <a class="dropdown-button btn pormayorUnico" data-activates="calificacion3"><img style="top:5px" class="positionRelative left" src="{{ruta_img}}califA.png" alt="calificacion tienda pormayor.pe" height="25">&nbsp;&nbsp;&nbsp; LO RECOMIENDA <i class="material-icons right">arrow_drop_down</i></a>
							        	<br><br>
							        <span class="green-text"><b>Si entras con tu teléfono celular toca el botón</b></span><b> INFO TIENDA </b>, <span class="green-text">para encontrar la reputación de la tienda</b></span>
							        </div></li>
							      </ul>
							</div>
							<div class="col s12 m12 l12 center">
								<a href="{{base_url()}}Legal/centro" class="btn pormayorUnico white-text">Regresar a centro de ayuda</a>
								<br><br>
							</div>
							<div class="col s12 m12 l12 center">
								<br>
								<p><b>Si deseas información adicional, lineamientos y terminos legales; puedes seguir <a class="pormayorUnico-text" href="{{base_url()}}Legal/centro">este enlace.</a></b><b> y acceder a</b> <i>Sistema de opiniones y servicios</i></p>
							</div>
						</div>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
<script>
var basicTimeline = anime.timeline();
$(document).ready(function(){
	$('.row').removeClass('hide');

basicTimeline
  .add({
    targets: '#podim1',
    height: [0, 90],
    elasticity: 600,
    duration: 800,
  })
  .add({
    targets: '.califC',
    scale: [0, 1],
    elasticity: 600,
    duration: 1000,
  })
  .add({
    targets: '#podium2',
    height: [0, 120],
    elasticity: 600,
    duration: 800,
  })
  .add({
    targets: '.califB',
    scale: [0, 1],
    elasticity: 600,
    duration: 1000,
  })
  .add({
    targets: '#podium3',
    height: [0, 180],
    elasticity: 600,
    duration: 800,
  })
  .add({
    targets: '.califA',
    scale: [0, 1],
    elasticity: 600,
    duration: 1000,
  });

});
	  

</script>
{% endblock %}
