<!DOCTYPE html>
<html>
  <head>      
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title> {% if venta.Per_Nombre %} {{ venta.Per_Nombre }} {% else %} {{pag|title}} {% endif %}| PorMayor.pe</title>
    <link rel="icon" type="image/png"  href="{{ruta_img}}logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/materialize.css')}}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{base_url('public/')}}intranet/css/templates.css?v={{now|date('i:s')}}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/jquery-confirm.min.css')}}"  media="screen,projection"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <style type="text/css">
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }
      main {
        flex: 1 0 auto;
        padding-left: 300px;
      }
      header, footer {
            padding-left: 300px;
          }
      @media only screen and (max-width : 992px) {
        header, main, footer {
          padding-left: 0;
        }
      }
      select {
        background-color: rgba(243, 243, 243, 0.9);
        border: 1px solid #a2acb3;
        margin: 5px 0px;
        
      }
     .btn-large, .btn, .btn-floating{
        background-color: #21478F;
      }
      .notify-alert-box{
        width: 400px;
        position: fixed;
        left: 50%;
        margin-left: -200px;
        top: 0; /*top: -100%;*/
        padding: 20px;
        z-index: 100000;
        background:#fff;
        color: #333;
        transition: all 1s ease-in-out;
      }
      .notify-alert-box img{
        width: 70px;
        float: left;
        margin-right: 10px;
      }

      .buttons{
        text-align: right;
      }
      .buttons button{
        background:#024e73;
        color: #fff;
        border:0;
        padding: 8px 15px;
        font-size: 18px;
        cursor: pointer;
      }
    </style>
    {% block head %} {% endblock %}
   </head>
  <body>
  <nav>
    <div class="navbar-fixed">
      <nav class="pormayor center">
        <div class="nav-wrapper">
          <a class="btn" href="{{base_url()}}venta/nueva" target="_blank" >REGISTRAR NUEVA VENTA</a>
        </div>
      </nav>
    </div>
  </nav>  
  <header>
    <div class="navbar-fixed hide-on-large-only" id="inicio">
      <nav class="nav-extended pormayor" data-color="#fff159">
        <div  class="sinBordeBottom nav-wrapper row navRowMobile">
          <div class="col s2 m2 l2 center hide-on-large-only colMenuButton sinPadding" style="height:56px">
            <a href="#" data-activates="slide-out" class="centrarForzado button-collapse">
              <img src="{{ruta_img}}menuIcon.svg" width="35">
            </a>
          </div>
          <div class="col s3 m2 l2 center colMenuLogo sinPadding" >
            <div class="logoNegativo">
              <a href="{{base_url()}}">
                <img alt="Pormayor.pe - Vende facilito, Compra segurito" src="{{ruta_img}}logoNegativo.svg" type="image/svg+xml" class="">
              </a>
            </div>
          </div>  
        </div>
      </nav> 
    </div> 
  </header>
    <ul id="slide-out" class="side-nav fixed grey darken-4 z-depth-3 menuTex" style="z-index:9000;"> 
      <li class="headerMenu center valign-wrapper">
        <div class="logoIcon">
          <a href="{{base_url()}}"><img alt="Pormayor.pe - Vende facilito, Compra segurito" src="{{ruta_img}}LogoPositivo.svg" class="valign-wrapper" height="40"></a>
        </div>
      </li>
      {% if usuario.rol == 5 %}
      <li class="itemMenu {% if pag == 'perfil' %}pormayor black-text{% endif %}"><div class="acentBar"></div><a class="waves-effect" href="{{base_url()}}vnd/perfil"><i class="material-icons">sentiment_very_satisfied</i>Mi Perfil</a></li>
      <li class="itemMenu {% if pag == 'crear' %}pormayor black-text{% endif %}"><div class="acentBar"></div><a class="waves-effect" href="{{base_url()}}vnd/crear"><i class="material-icons">person_add</i>Crear cliente</a></li>
      <li class="itemMenu pormayor black-text"><div class="acentBar"></div><a class="waves-effect" href="{{base_url()}}venta/nueva"><i class="material-icons">add</i>NUEVA VENTA</a></li>
      <li class="itemMenu {% if pag == 'listado' %}pormayor black-text{% endif %}"><div class="acentBar"></div><a class="waves-effect" href="{{base_url()}}vnd/listado"><i class="material-icons">person_outline</i>Mis clientes</a></li>
      <li class="itemMenu {% if pag == 'misventas' %}pormayor black-text{% endif %}"><div class="acentBar"></div><a class="waves-effect" href="{{base_url()}}vnd/misventas"><i class="material-icons">person_outline</i>Mis ventas <span class="new badge red ventaN"></span></a></li>
      <li class="itemMenu {% if pag == 'listado_clientes' %}pormayor black-text{% endif %}"><div class="acentBar"></div><a class="waves-effect" href="{{base_url()}}vnd/listado_clientes"><i class="material-icons">group</i>Clientes registrados</a></li>
      <li class="itemMenu {% if pag == 'ventas' %}pormayor black-text{% endif %}"><div class="acentBar"></div><a class="waves-effect" href="{{base_url()}}vnd/ventas"><i class="material-icons">money</i>Ventas</a></li>
      <li class="itemMenu {% if pag == 'hoy' %}pormayor black-text{% endif %}"><div class="acentBar"></div><a class="waves-effect" href="{{base_url()}}vnd/hoy"><i class="material-icons">speaker_notes</i>Hoy</a></li>
      <li class="itemMenu {% if pag == 'stock' %}pormayor black-text{% endif %}"><div class="acentBar"></div><a class="waves-effect" href="{{base_url()}}vnd/stock"><i class="material-icons">grid_on</i>Stock</a></li>
      <li class="itemMenu {% if pag == 'reporte' %}pormayor black-text{% endif %}"><div class="acentBar"></div><a class="waves-effect" href="{{base_url()}}vnd/reporte"><i class="material-icons">list</i>Reporte</a></li>
      <li class="itemMenu {% if pag == 'comision' %}pormayor black-text{% endif %}"><div class="acentBar"></div><a class="waves-effect" href="{{base_url()}}vnd/comision"><i class="material-icons">star</i>Comisiones</a></li>
      <li class="itemMenu">
        <div id="topVentas" class="white-text center"></div>
      </li>
      {% else %}
      <li class="itemMenu {% if pag == 'referidos' %}pormayor black-text{% endif %}"><div class="acentBar"></div><a class="waves-effect" href="{{base_url()}}vnd/referido"><i class="material-icons">star</i>Referidos</a></li>
      <li class="itemMenu {% if pag == 'reporte2' %}pormayor black-text{% endif %}"><div class="acentBar"></div><a class="waves-effect" href="{{base_url()}}vnd/reporte_referido"><i class="material-icons">list</i>Reporte Referido</a></li>
      {% endif %}
      <li class="containerAvatar valign-wrapper">
        <div class="avatarComprador" style="top: 2px;">
          <a class="sinPadding"href="{{base_url()}}usuario/perfil">
            <i style="font-size: 50px; color: rgba(255,255,255,0.8)" class="material-icons">account_circle</i>
          </a>
        </div>
        <div class="avatarContainerComprador flow-text" style="top: 15px;">
          <span class="avatarText1">{{usuario.nombre}}</span>
        </div>
        <a style="right: -180px;" class="cerrarSesionBtn sesionBtn avatarItem waves-effect right"><i class="material-icons">power_settings_new</i></a> 
      </li>
    </ul>

  {% block content %} {% endblock %} 

  <footer class="inner page-footer grey darken-4 text-white">
      {% if userAgent == 'PC' %}         
        <div class="footer-copyright pormayorAccent center">
          <div class="container  white-text">
          Derechos Reservados © 2018 pormayorpe S.A
          </div>
        </div>
      {% else %}
        <div class="footerMovil">         
        </div>
        <div class="footer-copyright pormayorAccent center">
          <div class="container  white-text">Derechos Reservados © 2018 pormayorpe S.A</div>
        </div> 
      {% endif %}
    </footer>

  {% block modal %} {% endblock %}  
  {#<script src="{{base_url('public/js/template-lite.js')}}" defer></script>#}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/jquery.validate.min.js')}}"></script> 
  <script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/materialize.js')}}"></script>
  <script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/jquery-confirm.min.js')}}"></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script> var base_url = "{{base_url()}}";</script>
  <script type="text/javascript">
  function actualizar(){
  var  Pro_IdProducto = 1;
       $.ajax({
          data:{'Pro_IdProducto':Pro_IdProducto},
          type:"POST",
          url:base_url+'vnd/cantidad_ventas', 
          dataType:"json",
          success:function(data){
            console.log(data);
            $('.ventaN').text(data);
          }
        });
     }
  setInterval("actualizar()",100000);
    $(document).ready(function(){
      var rol = {{ usuario.rol|json_encode() }};
      var xx = 0;
      if (rol == 5){
      $.ajax({
          data:{'xx':xx},
          type:"POST",
          url:base_url+'vnd/top_ventas', 
          dataType:"json",
          success:function(person){
            let txt = "";
            let c = 1;
            for (let x in person) {
            txt += c  + " " +person[x].vendedor + " : " + person[x].total + " </br>";
            c = c + 1;
            };
            document.getElementById("topVentas").innerHTML = txt;
            // $('.topVentas').text(txt);
          }
        });
      $(".button-collapse").sideNav();
        $.ajax({
        data:{'xx':xx},
        type:"POST",
        url:base_url+'vnd/meta', 
        dataType:"json",
          success:function(data){
            console.log(data);
              var c1 = 0;
              var c2 = 0;
              var c3 = 0;
              var c4 = 0;
              var comision = 0;
              $('.llevo').text('Llevas S/'+data);
            if (data <= 39999){
              $('.metaVnd').text('AUN NO COMISIONAS :( TÚ PUEDES CREO EN TI <3');
            }else if(data >= 40000 && data <= 80000){
              c1 = data * 0.005;
              $('.metaVnd').text('S/'+c1);
            }else if(data >= 40001 && data <= 80000){
              c1 = 40000 * 0.005;
              data2 = data - 40000;
              c2 = data2 * 0.03;
              comision = c1 + c2;
              $('.metaVnd').text('S/' + comision);
            }else if(data >= 80001 && data <= 120000){
              c1 = 40000 * 0.005;
              c2 = 40000 * 0.03;
              data2 = data - 80000;
              c3 = data2 * 0.04;
              comision = c1 + c2 + c3;
              $('.metaVnd').text('S/' + comision);
            }else if(data >= 120001){
              c1 = 40000 * 0.005;
              c2 = 40000 * 0.03;
              c3 = 40000 * 0.04;
              data2 = data - 120000;
              c4 = data2 * 0.05;
              comision = c1 + c2 + c3 + c4;
              $('.metaVnd').text('S/' + comision);
            }
        }
      });
      $(".cerrarSesionBtn").click(function() {
        $.confirm({
            icon: "power_settings_new",
            theme: "modern",
            closeIcon: !1,
            animation: "scale",
            type: "red",
            title: "Cerrar Sesión",
            columnClass: "small",
            content: "Las ofertas te estaran esperando",
            draggable: !1,
            buttons: {
                Cerrar: {
                    btnClass: "btn",
                    action: function() {
                        location.href = base_url + "usuario/cerrar_sesion"
                    }
                },
                Cancelar: {}
            }
        })
      });
          }
    });
  </script>
  {% block script %} {% endblock %}
  </body>
</html>