<!DOCTYPE html>
<html>
  <head>      
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title> {{pagina.titulo}} | pormayor.com</title>
    <link rel="icon" type="image/png"  href="{{ruta_img}}logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/jquery-confirm.min.css')}}" media="screen"/>
     <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/materialize.min.css')}}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/materialize.css')}}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/templates.css')}}" media="screen,projection"/>
    <style type="text/css">
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }
    
      main {
        flex: 1 0 auto;
        padding-left: 300px;
      }
    
      header, footer {
        padding-left: 300px;
      }
      
      @media only screen and (max-width : 992px) {
        header, main, footer {
          padding-left: 0;
        }
      }
      
      select {
        background-color: rgba(243, 243, 243, 0.9);
        border: 1px solid #a2acb3;
        margin: 5px 0px;          
      }
      
      .btn-large, .btn, .btn-floating{
        background-color: #21478F;
      }
      
   </style>
    {% block head %} {% endblock %}
   </head>
  <body> 
    <header>
      <div class="navbar-fixed hide-on-large-only" id="inicio">
        <nav class="nav-extended pormayor" data-color="#fff159">
          <div class="nav-wrapper container">
            <div  class="sinBordeBottom nav-wrapper row navRowMobile">
              <div class="col s2 m2 l2 center hide-on-large-only colMenuButton sinPadding" style="height:56px">
                <a href="#" data-activates="slide-out" class="centrarForzado button-collapse">
                  <img src="{{ruta_img}}menuIcon.svg" width="35">
                  {% if not noticoments is empty or not noticotiza is empty %}
                    <span class="red pulse"></span>
                  {% endif %}
                </a>
              </div>
              <!-- <div class="col s2 m2 l2 center">
                <a href="#" data-activates="slide-out" class="centrarForzado button-collapse"><i class="material-icons black-text">menu</i></a>
              </div> -->
              <div class="col s4 m4 l2 center sinPadding" >
                <div class="logoNegativoPanel">
                  <a style="" href="{{base_url()}}">
                    <img alt="Pormayor.pe - Vende facilito, Compra segurito" src="{{ruta_img}}logoNegativo.svg" type="image/svg+xml" >
                  </a>
                </div>
              </div> 
              <div class="col s6 m6 l7 center sinPadding" >
                <a href="{{base_url()}}" class="btn pormayorUnico">Ir a comprar</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <ul id="slide-out" class="side-nav fixed grey darken-4 z-depth-3 menuTex"> 
        <li class="headerMenu center valign-wrapper">
          <div class="logoIcon">
            <a href="{{base_url()}}">
              <img alt="Pormayor.pe - Vende facilito, Compra segurito" src="{{ruta_img}}LogoPositivo.svg" class="valign-wrapper" height="40">
            </a>
          </div>
        </li>
        <li class="itemMenu"><div class="acentBar" {% if pagina.opcion == "perfil" %}style="background:#ff9800"{% endif %}></div><a class="waves-effect" href="{{base_url()}}usuario/perfil"><i class="material-icons">account_box</i>Perfil</a></li>
        <!--li class="itemMenu"><div class="acentBar"></div><a href="{{base_url()}}comprador/index/pedidos" class="waves-effect"><i class="material-icons">playlist_add_check</i>Pedidos</a></li-->
        <li class="itemMenu"><div class="acentBar" {% if pagina.opcion == "ventas" %}style="background:#ff9800"{% endif %}></div><a href="{{base_url()}}comprador/compra/" class="waves-effect"><i class="material-icons">shopping_cart</i>Mis compras</a></li>
        <li class="itemMenu"><div class="acentBar"></div><a href="{{base_url()}}comprador/index/favoritos" class="waves-effect"><i class="material-icons">favorite</i>Favoritos</a></li>
        <li class="itemMenu"><div class="acentBar"></div><a href="{{base_url()}}comprador/index/respuesta_comentario" class="waves-effect"><i class="material-icons">forum</i>Preguntas</a></li>
        {% if usuario.rol == 2 %}
          <li class="itemMenu"><div class="acentBar"></div><a href="https://{{subdominio_tienda}}.{{dominio}}/usuario/inventario/lProductos" class="waves-effect"><i class="material-icons">keyboard_return</i>Ver como tienda</a></li>
        {% endif %}
        <li class="containerAvatar valign-wrapper">
          <div class="avatarComprador">
            <i style="font-size: 50px; color: rgba(255,255,255,0.8)" class="material-icons">account_circle</i>
          </div>
          <div class="avatarContainerComprador flow-text" style="top: 15px;">
            <span class="avatarText1">{{usuario.nombre}}</span>
          </div>
          <a style="right: -180px;" class="cerrarSesionBtn sesionBtn avatarItem waves-effect right"><i class="material-icons">power_settings_new</i></a> 
        </li>
      </ul>
    </header>

    <div class="fixed-action-btn hide-on-med-and-down">
      <a class="btn-floating btn-large tooltipped pormayorUnico" data-delay="30" data-position="left" data-tooltip="Ir a comprar" href="{{base_url()}}">
        <i class="large material-icons">store_mall_directory</i> 
      </a>
    </div>
    
    {% block content %} {% endblock %} 

    <footer class="inner page-footer grey darken-4 text-white">
      {% if userAgent == 'PC' %}
          <div class="container footerSecundario">
            <div class="row sinBordeBottom" >
              <div class="col s8 l12">
                <ul class="collapsible centrarForzado" data-collapsible="accordion">
                  <li>
                    <div class="collapsible-header grey darken-3 white-text center">
                      <div class="centrarForzado"><i class="material-icons left iconSide">expand_more</i>Ver más información</div>
                    </div>
                    <div class="collapsible-body sinPadding">
                      <div class="row sinBordeBottom">
                        <div class="col s6 m3 l3">
                          <h5 class="">Servicio al cliente</h5>
                          <ul>
                            <li><a class="" href="{{base_url()}}Legal/centro">Centro de ayuda</a></li>
                            <li><a class="" href="{{base_url()}}Legal/">Términos y condiciones</a></li>
                            <li><a class="" href="{{base_url()}}index/contactanos">Contáctanos</a></li> 
                          </ul>
                        </div> 
                        <div class="col s3 m3 l3">
                          <h5 class="">Acerca de nosotros</h5>
                          <ul>
                            <li><a class="" href="{{base_url()}}index/about" >Acerca de pormayor.pe</a></li>
                            <li><a class="" href="{{base_url()}}">Acerca de pormayor.SA</a></li>
                            <li><a class="" href="{{base_url()}}index">Mapa de sitio</a></li> 
                          </ul>
                        </div>
                        <div class="col s3 m3 l3 sinPadding">
                          <h5 class="">Servicios de comercio</h5>
                          <ul>
                            <li><a class="" href="{{base_url()}}legal/privacidad">Políticas de privacidad</a></li>
                            <li><a class="" href="{{base_url()}}index">Política de envios</a></li>
                            <li><a class="" href="{{base_url()}}legal/compra_segura">Compra segura</a></li>
                          </ul>
                        </div>
                        <div class="col s12 m6 l3">
                          <h5 class=" hide-on-med-and-down">Síguenos</h5>
                            <div clasS="row center footerBuscador">
                              <div class="col s3">
                                <a  href="https://www.instagram.com/pormayor.pe/?hl=es-la"><img alt="instagram pormayor.pe" title="instagram pormayor.pe" src="{{ruta_img}}instaW.png" height="30"></a>
                              </div>
                              <div class="col s3">
                                <a  href="https://www.facebook.com/pormayoroficial/"><img alt="facebook pormayor.pe" title="facebook pormayor.pe" src="{{ruta_img}}faceW.png" height="30"></a>
                              </div>
                              <div class="col s3">
                                <a  href="mailto:contacto@pormayor.pe"><img alt="correo pormayor.pe" title="correo pormayor.pe" src="{{ruta_img}}mailW.png" height="30"></a>
                              </div>
                              <div class="col s3">
                                <a  href="https://www.youtube.com/channel/UCgCUpeiwXV1-8BphKl6ut0Q?view_as=subscriber"><img alt="youtube pormayor.pe" title="youtube pormayor.pe" src="{{ruta_img}}youtubeW.png" height="30"></a>
                              </div>
                            </div>
                            <div class="col s6">
                              <a class="anchoTotal waves-effect waves-black btn-flat white-text" href="{{base_url()}}">Inicio</a>
                            </div>
                            <div class="col s6">
                              <a  class="anchoTotal inicioBtn waves-effect waves-black btn-flat white-text"  href="#inicio"><i class="small material-icons">keyboard_arrow_up</i></a>
                            </div>                
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>    
            </div>
          </div>
        <div class="footer-copyright pormayorAccent center">
          <div class="container  white-text">
          Derechos Reservados © 2018 pormayorpe S.A
          </div>
        </div>
      {% else %}
        <div class="footerMovil">
          <div class="row sinBordeBottom">
            <div class="col s12">
              <ul class="collapsible" data-collapsible="accordion">
                <li>
                  <div class="collapsible-header grey darken-3 white-text"><i class="material-icons">person</i>Servicio al cliente</div>
                  <div class="collapsible-body">
                    <ul>
                      <li><a class="" href="{{base_url()}}Legal/centro">Centro de ayuda</a></li>
                      <li><a class="" href="{{base_url()}}Legal/">Términos y condiciones</a></li>
                      <li><a class="" href="{{base_url()}}index/contactanos">Contáctanos</a></li> 
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey darken-3 white-text"><i class="material-icons">home</i>Acerca de nosotros</div>
                  <div class="collapsible-body">
                    <ul>
                      <li><a class="" href="{{base_url()}}index/about" >Acerca de pormayor.pe</a></li>
                      <li><a class="" href="{{base_url()}}">Acerca de pormayor.SA</a></li>
                      <li><a class="" href="{{base_url()}}index">Mapa de sitio</a></li> 
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="collapsible-header grey darken-3 white-text"><i class="material-icons">business_center</i>Servicios de comercio</div>
                  <div class="collapsible-body">
                    <ul>
                      <li><a class="" href="{{base_url()}}legal/privacidad">Políticas de privacidad</a></li>
                      <li><a class="" href="{{base_url()}}index">Política de envios</a></li>
                      <li><a class="" href="{{base_url()}}legal/compra_segura">Compra segura</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col s3 center">
              <a  href="https://www.instagram.com/pormayor.pe/?hl=es-la"><img alt="instagram pormayor.pe" title="instagram pormayor.pe" src="{{ruta_img}}instaW.png" height="30"></a>
            </div>
            <div class="col s3 center">
              <a  href="https://www.facebook.com/pormayoroficial/"><img alt="facebook pormayor.pe" title="facebook pormayor.pe" src="{{ruta_img}}faceW.png" height="30"></a>
            </div>
            <div class="col s3 center">
              <a  href="mailto:contacto@pormayor.pe"><img alt="correo pormayor.pe" title="correo pormayor.pe" src="{{ruta_img}}mailW.png" height="30"></a>
            </div>
            <div class="col s3 center">
              <a  href="https://www.youtube.com/channel/UCgCUpeiwXV1-8BphKl6ut0Q?view_as=subscriber"><img alt="youtube pormayor.pe" title="youtube pormayor.pe" src="{{ruta_img}}youtubeW.png" height="30"></a>
            </div>
            <div class="col s6 center">
              <a class="anchoTotal waves-effect waves-black btn-flat white-text" href="{{base_url()}}">Inicio</a>
            </div>
            <div class="col s6 center">
              <a  class="anchoTotal inicioBtn waves-effect waves-black btn-flat white-text"  href="#inicio"><i class="small material-icons">keyboard_arrow_up</i></a>
            </div>            
          </div>
        </div>
        <div class="footer-copyright pormayorAccent center">
          <div class="container  white-text">Derechos Reservados © 2018 pormayorpe S.A</div>
        </div> 
      {% endif %}
    </footer>

    {% block modal %} {% endblock %}  
    <!-- <script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/jquery-3.1.1.js')}}"></script>-->
    <script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>   
    <script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/materialize.js')}}"></script>
    <script language="JavaScript" type="text/javascript" src="{{base_url('public/intranet/js/jquery.validate.min.js')}}"></script> 
    <script src="{{base_url('public/intranet/js/jquery-confirm.min.js')}}" defer></script> 
      <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        //Cambio Footer

    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('#modalVocher').modal();
    
 
        $('.footerSecundario').removeClass('hide');
        $('.footerPrincipal').addClass('hide');

        $(document).ready(function(){
          $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 300
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
            draggable: true, // Choose whether you can drag to open on touch screens,
          }
        );
          $('.inicioBtn').not('[href="#"]').click(function(event) {
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      if (target.length) {
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top - 100
        }, 2000, function() {
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) {
            return false;
          } else {
            $target.attr('tabindex','-1');
            $target.focus();
          };
        });
      }
    }
  });
          $(".cerrarSesionBtn").click(function() {
        $.confirm({
            icon: "power_settings_new",
            theme: "modern",
            closeIcon: !1,
            animation: "scale",
            type: "red",
            title: "Cerrar Sesión",
            columnClass: "small",
            content: "Las ofertas te estaran esperando",
            draggable: !1,
            buttons: {
                Cerrar: {
                    btnClass: "btn",
                    action: function() {
                        location.href = base_url + "usuario/cerrar_sesion"
                    }
                },
                Cancelar: {}
            }
        })
      });
        //Funciones Side-Bar
        $(".itemMenu").mouseover(function(){
          $(this).find(".acentBar").css("background-color", "#FEC00F");
        });
        
        $(".itemMenu").mouseout(function(){
          $(this).find(".acentBar").css("background-color","rgba(0,0,0,0.0)");
        });

        //FOOTER
        var flagFooter = false;
        $(".footerSecundario .collapsible-header").click(function() {
            if (flagFooter == false) {
                $('.footerSecundario .iconSide').text('expand_less');
                $('.footerSecundario .sideB').slideUp(500);
                flagFooter = true;
            }else if (flagFooter == true){
                $('.footerSecundario .iconSide').text('expand_more');
                $('.footerSecundario .sideB').slideDown(200);
                flagFooter = false;
            }
        })
      });
    </script>
    <script> var base_url = "{{base_url()}}";</script>
    {% block script %} {% endblock %}
   </body>
</html>