<!DOCTYPE html>
<html lang="es" xml:lang="es" xmlns="http://www.w3.org/1999/xhtml">
<script>
!function (w, d, t) {
  w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};var o=document.createElement("script");o.type="text/javascript",o.async=!0,o.src=i+"?sdkid="+e+"&lib="+t;var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(o,a)};

  ttq.load('CBVVPCRC77UFTR6U72H0');
  ttq.page();
}(window, document, 'ttq');
</script>
<head>      
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="facebook-domain-verification" content="cle4kath1djfbrcx1wejg9hfcattr7" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if categoriaFlag == true %}{{categoria_seo.Cat_Nombre|title}} al Por Mayor en PorMayor.pe - Crece con nosotros{% elseif subcategoriaFlag == true %}{{subcategoria_seo.Suc_Nombre|title}} al Por Mayor en PorMayor.pe - Crece con nosotros{% elseif  detalleFlag == true %}{{detalle_seo.Suc_Nombre|title}} - {{detalle_seo.Des_Nombre}} al Por Mayor en PorMayor.pe - Crece con nosotros{% else %}{{pagina.titulo|title}}{% endif %}</title>
<meta name="google-site-verification" content="MZNqZwO63SqZWJMD-S5PwzQhXBJoFBLp8BmwSgYAexM" />
<meta property="fb:app_id" content="2623619600997776" />
<meta property="og:title" content="{% if producto.Pro_Nombre %}{{producto.Pro_Nombre|upper}} - S/{{producto.Pro_PrecioMinimo}}{% else %} PorMayor.pe - Crece con nosotros{% endif %}" />
<meta property="og:description" content="{% if producto.Pro_Nombre %}Precio por mayor: S/{{producto.Pro_PrecioMinimo}}{% else %}Ayudamos a crecer a todo los nuevos emprendedores en iniciar su negocio. Llévate todo surtido y a precio por mayor por una compra mínima de 100 soles{% endif %}"/>
{% if producto.Pro_Nombre %}
<meta property="og:type" content="website" />
<meta property="og:image" content="https://pormayor.pe/img/{{fotos[0].Prf_Img}}" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="300" />
{% else %}
<meta property="og:type" content="website" />
<meta property="og:image" content="https://pormayor.pe/img/logoPM2.jpg" />
{% endif %}
<meta name="description" content="Productos por cajón al mejor precio del mercado. Productos novedosos importados directamente desde China. Precio por mayor desde una unidad.">
<meta name="keywords" content="Por mayor, cajón, productos novedosos, productos para el hogar, roperos de ropa, zapateras, compra por cajón">
<link rel="icon" href="https://pormayor.pe/img/promo/lpm.ico">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" media="screen">
<link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/materialize.min.css')}}"  media="screen"/>
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css" media="screen"/>
<link type="text/css" rel="stylesheet" href="{{base_url('public/intranet/css/templates.min.css')}}"  media="screen"/>
{% block analytics %}{% endblock %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129372100-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-129372100-1');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P6LFJ9S');</script>
<!-- End Google Tag Manager -->
{% block head %} {% endblock %}
  <style type="text/css">
  .autocomplete-content{width: 40vw !important; z-index: 9999 !important;position: relative;}
  .w100 {width:200% !important}
  @media only screen and (max-width: 600px) {
  .w100 {width:100% !important}
  .autocomplete-content{width: 80vw!important;}
  }
  </style>
</head>
<body id="inicio" class="grey lighten-4">
 <!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1437377980109766');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1437377980109766&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
    <div class="black center">
      <span class="white-text fontA">¡Por compras mínimas de <b class="amber-text">S/100</b>, llévate diferentes productos a precio por cajón!</span>
    </div>    
        {% if userAgent == 'movil' %}
          <nav class="pormayor">
            <div class="nav-wrapper">
              <div class="row">
                <div class="col s2">
               <a data-activates="mobile-pormayor" class="button-collapse centrarForzado">
              <img alt="" src="{{ruta_img}}menuIcon.svg" width="35">            </a>
                  
                </div>
                <div class="col s10">
              {# <input type="text" class="browser-default buscador autocomplete redondeo white enfasisA" placeholder="Buscar productos" data-tienda="pormayor"> #}
                  <a class="brand-logo" href="{{base_url()}}" >
              <img alt="Pomayor.pe - Crece con nosotros" src="{{ruta_img}}icons/logoPrincipal.png" height="55px" style="padding-top: 5px;">
            </a>
                </div>
              </div>
            </div>
          </nav>
        {% else %}
        <nav class="pormayor">
          <div class="nav-wrapper container">
            <a class="brand-logo" href="{{base_url()}}" >
              <img alt="Pomayor.pe - Crece con nosotros" src="{{ruta_img}}icons/logoPrincipal.png" height="55px" style="padding-top: 5px;">
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li>
                <a class='dropdown-button black-text' href='#' data-activates='categoriasList'><i class="material-icons right">keyboard_arrow_down</i> Categorias</a>
              </li>
              <li>
                <a class="black-text" href="{{base_url()}}productos/carrito"><i class="material-icons left">shopping_cart</i>Mis compras</a>
              </li>
              <li>
                {% if usuario.id_usuario %}
                <a class="dropdown-trigger black-text" href="#!" data-activates="ddUsuario">{{ usuario.nombre|title|length > 7 ? usuario.nombre|title|slice(0, 7) ~ '...' : usuario.nombre  }}<i class="material-icons right">account_circle</i></a>      
                {% else %}
                <a class="black-text" href="{{base_url()}}usuario/login"><i class="material-icons left">account_circle</i>Mi cuenta</a>
                {% endif %}
              </li>
            </ul>
          </div>
        </nav>
        {% endif %}
        <ul id='categoriasList' class='dropdown-content'>
        {% for cat in categorias %}
          <li style="height: 35px;"><a itemprop="url" href="{{base_url()}}categoria/{{cat.url}}">{{cat.Cat_Nombre|upper}}</a></li>
        {% endfor %}            
        </ul>
        <ul id='ddUsuario' class='dropdown-content'>
          {% if usuario.rol == 1 %}
            <li><a href="{{base_url()}}admin/tiendas"><i class="material-icons left">settings</i>Panel</a></li>
          {% elseif usuario.rol == 5 %}
            <li><a href="{{base_url()}}vnd/ventas"><i class="material-icons left">settings</i>Panel Gestor</a></li>
          {% else %}
            <li><a href="{{base_url()}}comprador/index/"><i class="material-icons left">account_circle</i>Perfil de Usuario</a></li>
            {% if usuario.rol == 2 or usuario.rol == 3 %}
              <li><a href="https://tienda-oficial.pormayor.pe/usuario/venta"><i class="material-icons left">settings</i>Panel Tienda</a></li>
            {% endif %}
          {% endif %}
          <li class="divider"></li>
          <li><a class="cerrarSesionBtn"><i class="material-icons left">power_settings_new</i>Cerrar sesión</a></li>
        </ul>        
        {% if userAgent != "PC" %}
          {% if vista_carrito %}
            <div class="nav-content white">
              <div class="row centrarForzado navCompra">
                <div class="col s4 sinUser center fontB2 pormayorUnico white-text">
                  <i class="material-icons left small" >looks_one</i> <span class="positionRelative">RESUMEN</span>
                </div>
                <div class="col s4 sinUser enfasisD center fontB2">
                  <i class="material-icons left small" >looks_two</i> <span class="positionRelative">DESPACHO</span>
                </div>
                <div class="col s4 sinUser enfasisD center fontB2">
                  <i class="material-icons left small" >looks_3</i> <span class="positionRelative">PAGO</span>
                </div>
              </div>
            </div>
          {% elseif vista_carrito2 %}
            <div class="nav-content white">
              <div class="row centrarForzado navCompra">
                <a href="{{base_url()}}productos/carrito">
                  <div class="col s4 sinUser center fontB2 enfasisD">
                    <i class="material-icons left small" >looks_one</i> <span class="positionRelative">RESUMEN</span>
                  </div>
                </a>
                <div class="col s4 sinUser pormayorUnico white-text center fontB2">
                  <i class="material-icons left small" >looks_two</i> <span class="positionRelative">DESPACHO</span>
                </div>
                <div class="col s4 sinUser enfasisD center fontB2">
                  <i class="material-icons left small" >looks_3</i> <span class="positionRelative">PAGO</span>
                </div>
              </div>
            </div>
          {% elseif vista_carrito3 %}
            <div class="nav-content white">
              <div class="row centrarForzado navCompra">
                <a href="{{base_url()}}productos/carrito">
                  <div class="col s4 sinUser center fontB2 enfasisD">
                    <i class="material-icons left small" >looks_one</i> <span class="positionRelative">RESUMEN</span>
                  </div>
                </a>
                <a href="{{base_url()}}productos/despacho">
                  <div class="col s4 sinUser enfasisD center fontB2">
                    <i class="material-icons left small" >looks_two</i> <span class="positionRelative">DESPACHO</span>
                  </div>
                </a>
                <div class="col s4 sinUser pormayorUnico white-text center fontB2">
                  <i class="material-icons left small" >looks_3</i> <span class="positionRelative">PAGO</span>
                </div>
              </div>
            </div>
          {% elseif vista_carrito4 %}
            <div class="nav-content pormayorUnico">
              <div class="row centrarForzado navCompra">
                <div class="col s12 sinUser center fontB2 enfasisD white-text">
                  <p>ÚNETE A LA FAMILIA <b>PORMAYOR</b></p>
                </div>
              </div>
            </div>
          {% elseif vista_carrito5 %}
          {% endif %}
        {% endif %}
      {# </nav>
    </div> #}
    <!-- HEADER -->
        {% if usuario.logueado %}
            <ul class="side-nav grey darken-4 z-depth-3 menuTex" id="mobile-pormayor">
              <li class="headerMenu center pormayor">
                <img alt="Pomayor.pe - Crece con nosotros" src="{{ruta_img}}icons/logoPrincipal.png" height="55px" style="padding-top: 10px;">
              </li>
                {% if usuario.rol == 2 or usuario.rol == 3 %}
              <li class="headerMenu center valign-wrapper">
                  <a class="btn centrarForzado pormayor pormayorAccent-text" href="https://tienda-oficial.pormayor.pe/usuario/venta" style="padding: 0 16px;">Perfil Tienda</a>
                {% elseif usuario.rol == 5 %}
                  <a class="btn centrarForzado pormayor pormayorAccent-text" href="{{base_url()}}vnd/ventas" style="padding: 0 16px;">ASESOR</a>
              </li>
                {% endif %}
              {% if usuario.rol == 4 %}
              <li class="headerMenu center valign-wrapper">
                <a  class="btn centrarForzado pormayorUnico white-text" style="padding: 0 16px;" href="{{base_url()}}comprador/compra/">Mis compras</a>      

                <a  class="btn centrarForzado pormayorUnico white-text" style="padding: 0 16px;" href="{{base_url()}}usuario/perfil">Mi perfil</a>      
              </li>
              {% endif %}
              <li class="itemMenu">
                <a class="white-text" href="{{base_url()}}"><i class="material-icons left">home</i>Página Principal</a>      
              </li>
              <li class="itemMenu">
                <a class="white-text" href="{{base_url()}}productos/carrito"><i class="material-icons left">shopping_cart</i>Carrito</a>      
              </li>
              {% for cat in categorias %}
              <li class="itemMenu" style="height: 35px;border-bottom: 1px solid grey;"><a itemprop="url" href="{{base_url()}}categoria/{{cat.url}}">{{ cat.Cat_Nombre|upper }}</a></li>             
              {% endfor %}                   
              <li class="sinUser itemMenu white-text" style="margin: 5px 20px 5px 20px;">Hola, <b>{{usuario.nombre|title|length > 15 ? usuario.nombre|title|slice(0, 15) ~ '...' : usuario.nombre}}</b><a class="cerrarSesionBtn sesionBtn right"><i class="material-icons red-text">power_settings_new</i></a> 
              </li> 
            </ul>         
        {% else %}  
            <ul class="side-nav grey darken-4 z-depth-3 menuTex" id="mobile-pormayor">
              <li class="headerMenu center pormayor">
                <img alt="Pomayor.pe - Crece con nosotros" src="{{ruta_img}}icons/logoPrincipal.png" height="55px" style="padding-top: 10px;">
              </li>
              <li class="headerMenu center valign-wrapper">
                <a class="btn waves-effect waves-orange centrarForzado anchoTotal" href="{{base_url()}}usuario/login" style="padding: 0 16px;">Iniciar sesión</a>
              </li>
              <li class="headerMenu center valign-wrapper">
                <a class="btn-flat centrarForzado anchoTotal white-text" href="{{base_url()}}usuario/registro" style="padding: 0 16px;border: 1px solid #848484;">Registrarse</a>
              </li>     
              <li class="itemMenu">
                <a class="white-text" href="{{base_url()}}">Página Principal</a>      
              </li>              
              <li class="itemMenu">
                <a class="white-text" href="{{base_url()}}productos/carrito"><i class="material-icons left">shopping_cart</i>Carrito</a>      
              </li>
              {% for cat in categorias %}
              <li class="itemMenu" style="height: 35px;border-bottom: 1px solid grey;"><a itemprop="url" href="{{base_url()}}categoria/{{cat.url}}">{{ cat.Cat_Nombre|upper }}</a></li>             
              {% endfor %}
            </ul>
        {% endif %}
      <div class="overlayBody hide"></div>      
      {% block content %} {% endblock %}
       <div class="fixed-action-btn">
        <a class="btn-floating btn-large pormayor" href="{{base_url()}}productos/carrito">
          <i class="large material-icons black-text">shopping_cart</i>
        </a>
      </div>

        <footer class="page-footer grey darken-4 black-text {% if nofooter %}hide{% endif %}">
          <div class="container">
              <div class="row white-text">
              <div class="col l3 s12">
                <h5 class="amber-text">PorMayor.pe</h5>
                <p>Somos un ecommerce peruano, dedicados a la venta por cajón para emprendedores y pymes.</p>
              </div>
              <div class="col l3 s12">
                <h5 class="amber-text">Mi cuenta</h5>
                <ul>
                  <li><a class="" href="{{base_url()}}usuario/login">Registrarte</a></li>
                  <li><a class="" href="{{base_url()}}usuario/login">Iniciar Sesión</a></li>
                  <li><a class="" href="{{base_url()}}usuario/olvido_contrasenia">Recuperar Contraseña</a></li>
                  <li><a class="" href="{{base_url()}}contacto">Contacto</a></li>
                </ul>
              </div>
              <div class="col l3 s12">
                <h5 class="amber-text">Te ayudamos</h5>
                <ul>
                  {# <li><a class="" href="{{base_url()}}legal/centro">Centro de Ayuda</a></li> #}
                  <li><a class="" href="{{base_url()}}legal">Terminos y condiciones</a></li>
                  <li><a class="" href="{{base_url()}}legal/devolucionesycambios">Politicas de Devoluciones y Cambios</a></li>
                  {# <li><a class="" href="{{base_url()}}legal/compra_segura">Compra Segura</a></li> #}
                  <li><a class="" href="{{base_url()}}reclamo">Libro de Reclamaciones</a></li>
                </ul>
              </div>
              <div class="col l3 s12">
                <h5 class="amber-text">Contacto</h5>
                <ul>
                {# {% for v in vendedores %}
                  <li><a href="tel:51{{ v.Per_Telefono }}">{{ v.Usu_Nombre }}: {{ v.Per_Telefono }}</a></li>
                {% endfor %} #}
                  <li><a href="mailto:contacto@pormayor.pe">contacto@pormayor.pe</a></li>
                  <li>Horario de Atención:<br>
                    Lunes a Viernes: 10:00 AM a 6:00 PM<br>
                    Sábados: 10:00 AM a 6:00 PM</li>
                  <li>Jirón Andahuaylas 251 - Tienda 208, 209 y 210 Cercado de Lima - Perú</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="row container">
              <div class="col l6 left">
                © 2018-2022 Derechos Reservados <a href="{{base_url()}}">PorMayor.pe S.A.</a>
              </div>
              <div class="col l2 right">
                <a href="https://www.camaralima.org.pe/principal"><img src="{{ruta_img}}LOGO-CCL-2019.png" title="REGISTRADOS EN LA CAMARA DE COMERCIO DE LIMA" height="27px"></a>
              </div>
          </div>
        </footer>      
    {% block modal %} {% endblock %}
      <script>base_url = "{{base_url()}}";</script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/blazy/1.8.2/blazy.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ouibounce/0.0.12/ouibounce.min.js"></script>
      {# <script src="{{base_url('public/js/template-lite.js')}}" defer></script> #}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
      <script>
        $(document).ready(function() {
          $('.modal').modal();
        });
      </script>
    {% block script %} {% endblock %}
   </body>

</html>